<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">
    <!--<context:component-scan base-package="service,transcational,dubbo" />-->
    <context:component-scan base-package="service" />

    <bean class="utils.SpringContextUtil" />

    <!--<import resource="classpath:quartz-service.xml"/>-->
    <!--<import resource="classpath:simple-quartz-service.xml"/>-->
    <!--<import resource="classpath:kafka-consumer.xml" />-->
    <!--<import resource="classpath:kafka-producer.xml" />-->
    <!--<import resource="classpath:spring-WebSocket.xml" />-->
    <import resource="classpath:database.xml" />
    <!-- dubbo提供者 -->
    <!--<import resource="classpath:dubbo-provider.xml" />-->
    <!-- dubbo消费者 -->
    <!--<import resource="classpath:dubbo-consumer.xml" />-->

    <!--支持异步任务 @Async-->
    <task:executor id="executor" pool-size="8"/>
    <task:annotation-driven executor="executor"/>
</beans>