<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.gen.mapper.CsaiRobotEntrancePOMapper">
  <resultMap id="BaseResultMap" type="dao.gen.po.CsaiRobotEntrancePO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="robot_id" jdbcType="VARCHAR" property="robotId" />
    <result column="corp_id" jdbcType="BIGINT" property="corpId" />
    <result column="entrance_name" jdbcType="VARCHAR" property="entranceName" />
    <result column="entrance_source" jdbcType="VARCHAR" property="entranceSource" />
    <result column="related_one_level_category" jdbcType="VARCHAR" property="relatedOneLevelCategory" />
    <result column="related_brand" jdbcType="VARCHAR" property="relatedBrand" />
    <result column="effect_switch" jdbcType="TINYINT" property="effectSwitch" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="db_update_time" jdbcType="TIMESTAMP" property="dbUpdateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, robot_id, corp_id, entrance_name, entrance_source, related_one_level_category, 
    related_brand, effect_switch, operator, create_time, db_update_time
  </sql>
  <select id="selectByExample" parameterType="dao.gen.po.CsaiRobotEntrancePOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from csai_robot_entrance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from csai_robot_entrance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from csai_robot_entrance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="dao.gen.po.CsaiRobotEntrancePO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into csai_robot_entrance (robot_id, corp_id, entrance_name, 
      entrance_source, related_one_level_category, 
      related_brand, effect_switch, operator, 
      create_time, db_update_time)
    values (#{robotId,jdbcType=VARCHAR}, #{corpId,jdbcType=BIGINT}, #{entranceName,jdbcType=VARCHAR}, 
      #{entranceSource,jdbcType=VARCHAR}, #{relatedOneLevelCategory,jdbcType=VARCHAR}, 
      #{relatedBrand,jdbcType=VARCHAR}, #{effectSwitch,jdbcType=TINYINT}, #{operator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{dbUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="dao.gen.po.CsaiRobotEntrancePO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into csai_robot_entrance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="robotId != null">
        robot_id,
      </if>
      <if test="corpId != null">
        corp_id,
      </if>
      <if test="entranceName != null">
        entrance_name,
      </if>
      <if test="entranceSource != null">
        entrance_source,
      </if>
      <if test="relatedOneLevelCategory != null">
        related_one_level_category,
      </if>
      <if test="relatedBrand != null">
        related_brand,
      </if>
      <if test="effectSwitch != null">
        effect_switch,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="dbUpdateTime != null">
        db_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="robotId != null">
        #{robotId,jdbcType=VARCHAR},
      </if>
      <if test="corpId != null">
        #{corpId,jdbcType=BIGINT},
      </if>
      <if test="entranceName != null">
        #{entranceName,jdbcType=VARCHAR},
      </if>
      <if test="entranceSource != null">
        #{entranceSource,jdbcType=VARCHAR},
      </if>
      <if test="relatedOneLevelCategory != null">
        #{relatedOneLevelCategory,jdbcType=VARCHAR},
      </if>
      <if test="relatedBrand != null">
        #{relatedBrand,jdbcType=VARCHAR},
      </if>
      <if test="effectSwitch != null">
        #{effectSwitch,jdbcType=TINYINT},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dbUpdateTime != null">
        #{dbUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="dao.gen.po.CsaiRobotEntrancePOExample" resultType="java.lang.Long">
    select count(*) from csai_robot_entrance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update csai_robot_entrance
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.robotId != null">
        robot_id = #{record.robotId,jdbcType=VARCHAR},
      </if>
      <if test="record.corpId != null">
        corp_id = #{record.corpId,jdbcType=BIGINT},
      </if>
      <if test="record.entranceName != null">
        entrance_name = #{record.entranceName,jdbcType=VARCHAR},
      </if>
      <if test="record.entranceSource != null">
        entrance_source = #{record.entranceSource,jdbcType=VARCHAR},
      </if>
      <if test="record.relatedOneLevelCategory != null">
        related_one_level_category = #{record.relatedOneLevelCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.relatedBrand != null">
        related_brand = #{record.relatedBrand,jdbcType=VARCHAR},
      </if>
      <if test="record.effectSwitch != null">
        effect_switch = #{record.effectSwitch,jdbcType=TINYINT},
      </if>
      <if test="record.operator != null">
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dbUpdateTime != null">
        db_update_time = #{record.dbUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update csai_robot_entrance
    set id = #{record.id,jdbcType=BIGINT},
      robot_id = #{record.robotId,jdbcType=VARCHAR},
      corp_id = #{record.corpId,jdbcType=BIGINT},
      entrance_name = #{record.entranceName,jdbcType=VARCHAR},
      entrance_source = #{record.entranceSource,jdbcType=VARCHAR},
      related_one_level_category = #{record.relatedOneLevelCategory,jdbcType=VARCHAR},
      related_brand = #{record.relatedBrand,jdbcType=VARCHAR},
      effect_switch = #{record.effectSwitch,jdbcType=TINYINT},
      operator = #{record.operator,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      db_update_time = #{record.dbUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="dao.gen.po.CsaiRobotEntrancePO">
    update csai_robot_entrance
    <set>
      <if test="robotId != null">
        robot_id = #{robotId,jdbcType=VARCHAR},
      </if>
      <if test="corpId != null">
        corp_id = #{corpId,jdbcType=BIGINT},
      </if>
      <if test="entranceName != null">
        entrance_name = #{entranceName,jdbcType=VARCHAR},
      </if>
      <if test="entranceSource != null">
        entrance_source = #{entranceSource,jdbcType=VARCHAR},
      </if>
      <if test="relatedOneLevelCategory != null">
        related_one_level_category = #{relatedOneLevelCategory,jdbcType=VARCHAR},
      </if>
      <if test="relatedBrand != null">
        related_brand = #{relatedBrand,jdbcType=VARCHAR},
      </if>
      <if test="effectSwitch != null">
        effect_switch = #{effectSwitch,jdbcType=TINYINT},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dbUpdateTime != null">
        db_update_time = #{dbUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="dao.gen.po.CsaiRobotEntrancePO">
    update csai_robot_entrance
    set robot_id = #{robotId,jdbcType=VARCHAR},
      corp_id = #{corpId,jdbcType=BIGINT},
      entrance_name = #{entranceName,jdbcType=VARCHAR},
      entrance_source = #{entranceSource,jdbcType=VARCHAR},
      related_one_level_category = #{relatedOneLevelCategory,jdbcType=VARCHAR},
      related_brand = #{relatedBrand,jdbcType=VARCHAR},
      effect_switch = #{effectSwitch,jdbcType=TINYINT},
      operator = #{operator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      db_update_time = #{dbUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>